:root {
    --bg-info: #8d91e0;
    --text-info: #2129db;
    --bg-success: #8fe39d;
    --text-success: #1c6328;
}
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message-info {
    width: 90%;
    margin: 3px;
    padding: 3px;
    border: 1px solid #808080;
    border-radius: 3px;
    background-color: var(--bg-info);
    color: var(--text-info);
}

.message-success {
    width: 90%;
    margin: 3px;
    padding: 3px;
    border: 1px solid #808080;
    border-radius: 3px;
    background-color: var(--bg-success);
    color: var(--text-success);
}

.message-warning {
    width: 90%;
    margin: 3px;
    padding: 3px;
    border: 1px solid #808080;
    border-radius: 3px;
    background-color: #ede89a;
    color: #948c0f;
}

.message-error {
    width: 90%;
    margin: 3px;
    padding: 3px;
    border: 1px solid #808080;
    border-radius: 3px;
    background-color: #e68787;
    color: #800505;
}