.border {
    border: 2px solid red;
}



/*as long as screen is >= 600 px the following CSS will be applied*/
@media screen and (min-width: 600px) {
    .border {
        /*property: value;*/
        background-color: #223344;
        color: white;
        padding: 10px 30px;
    }
}

@media screen and (max-width: 600px) {
/*    CSS GOES HERE  */
    .border {
        background-color: #77c;
        padding: 10px 30px;
        border: 3px solid green;
    }
}

@media screen and (min-width: 500px) and (max-width: 1500px) {
    .border {
        background-color: pink;
        padding: 10px 30px;
        border: 2px solid purple;
    }
}

/*WHATEVER IS PLACED LAST LAST LAST LAST! TAKES PRECEDENCE!!*/